    header {
      text-align: center;

      color:#8B0000;
    }
    .nav {
      color: black;
    }
    h1 {
      font-size:90px;
    }
    img {
      margin:0px 0px 0px 0px;
      border-radius: 0px;
      height:400px;
    }
    ul {
      padding: 20px;
      background: #8B0000;
    }
    li {
      display: inline;
      padding: 10px 60px 7px 67px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 99px;
        padding: 1px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
